body {
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: #161b22;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

input {
  background: #0d1117;
  color: #fff;
  border: 1px solid #30363d;
}

button {
  background-color: #238636;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #2ea043;
}
.produk-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
